body {
  margin: 0;
  font-family: 'Poppins';
}

code {
  font-family: 'Poppins';
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins-Regular.ttf') format('truetype'); /* Relative path */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins-Bold.ttf') format('truetype'); /* Relative path */
  font-weight: 700;
  font-style: normal;
}